

.A1{text-align: center;}
.b2{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: red;}
.b3{font-style: italic;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.c4 {color: green;}
.c5{height: 25px;}
body { 
  
    background-color: rgba(255, 166, 0, 0.617);}